body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.digits {
  margin: 2rem 0 1rem;
}

.digit {
  display: inline-block;
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
}

.redDigit {
  color: crimson;
}

.controls {
  width: 100%;
  text-align: center;
}

button {
  font-size: 1.25rem;
  margin: 10px;
  background: dodgerblue;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: white;
  width: 8rem;
}

button[disabled] {
  background: lightgrey;
}